.home__section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 5rem;
    margin-top: 3rem;
}

.home__title {
    color: var(--primary-green);
    margin-bottom: 1.5rem;
}

.home__username {
    color: var(--secondary-gray);
    font-size: var(--text-4xl);
    font-weight: 600;
}

.home__subtitle {
    margin-top: 0.625rem;
    font-size: var(--text-xl);
    font-weight: 600;
}

.home__description {
    margin-top: 1.25rem;
    font-size: var(--text-lg);
    max-width: 32rem;
}

.home__cta {
    margin-top: 5rem;
}

.cta__link {
    text-decoration: none;
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    padding: 1.25rem 1.75rem;
    border-radius: 0.375rem;
}

.cta__link:hover {
    color: var(--body-white);
    background-color: var(--primary-green);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 180ms;
}

/* medium */
@media (min-width: 640px) {
    .home__username {
        font-size: var(--text-5xl);
    }
    
    .home__subtitle {
        font-size: var(--text-2xl);
    }
}
/* large */
@media (min-width: 768px) {
    .home__username {
        font-size: var(--text-7xl);
    }
    
    .home__subtitle {
        font-size: var(--text-4xl);
    }
}