body {
    background-color: #1E073C;
    color: rgb(0, 0, 0);
}

.logo-container {
    height: 70px;
}

.logo-container > img {
    height: 100%;
}

.banner {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 90px;
    padding: 8px 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.app-name > h1 {
    font-size: 24px;
}

.playlist-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

header {
    margin-bottom: 10px;
}

.playlist-container {
    background-color: black;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: auto;
    height: 300px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.playlist-name-tag {
    margin-bottom: 7px;
    padding-left: 3px;
}

.album-art-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.album-art-container {
    overflow: hidden;
    border-radius: 7px;
    height: 44px;
    width: 44px;
}

.track-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.artist-name {
    color: rgb(117, 117, 117);
    font-size: 13px;
}

.track-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.719);
    animation: slide-up 0.6s forwards, fade-in 1s forwards;
    transition: translateY(100%);
    cursor: default;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.arrow-container {
    margin: 20px 0;
    animation: rotate-default 0.8s forwards;
  }
  
  @keyframes rotate-default {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

.arrow {
    height: 70px;
    width: 70px;
}

.clone-button {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: var(--primary-green);
    border: none;
    font-size: 15px;
    border-radius: 7px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.button-container > button {
    transition: 0.3s all;
    cursor: pointer;
}

.button-container > button:active {
    transform: scale(0.8);
}

footer {
    margin: 100px 0 0;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p {
    color: rgb(187, 187, 187);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
    font-size: 12px;
}

.github-link {
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.github-link:hover {
    color:  var(--primary-green);
}


/* media queries */

@media (min-width: 768px) {
    .playlist-section {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 250px 20px 100px;
    }
    .app-name > h1 {
        font-size: 25px;
    }
    .arrow-container {
        animation: rotate-mid-width 0.8s forwards;
      }
      
      @keyframes rotate-mid-width {
        0% {
          transform: rotate(90deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
}

@media (min-width: 992px) {
    .playlist-section {
        margin-top: 190px;
    }
    .playlist-container {
        height:400px;
        width:400px;
    }
    .button-container {
        margin-bottom: 50px;
    }
}